<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
     
        
         <listener class-name="Academy.listeners"/>
         <listener class-name="resources.ExtentReporterNG"/>
         

 </listeners>
 
 
  
  <test name="Validating Positive Login Test Scenario">
    <classes>
      <class name="Academy.PositiveLoginTest"/>
          </classes>
  </test>
  
  <test name="Validating Negative Login Test Scenario">
    <classes>
      <class name="Academy.NegativeLoginTest"/>
          </classes>
  </test>
  
  <test name="Validating Create New User Test Scenario">
    <classes>
      <class name="Academy.CreateNewUserTest"/>
          </classes>
  </test>



      
   <!-- Test -->
</suite> <!-- Suite -->
